<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <form method="#" action="#">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">Cuadro de Evaluación</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Empresa
                                        </label>
                                        <input name="nroordencompra" type="text" class="form-control" disabled value="PROVIAS">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Moneda
                                        </label>
                                        <input name="nroordencompra" type="text" class="form-control" disabled value="Soles">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Usuario
                                        </label>
                                        <input name="nroordencompra" type="text" class="form-control" disabled value="Jose R.">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Inicio</label>
                                        <input type="text" class="form-control" datepicker disabled value="19/02/2018" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Fin</label>
                                        <input type="text" class="form-control" datepicker disabled value="26/02/2018" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Estado</label>
                                        <select name="moneda" class="form-control" disabled>
                                          <option disabled="" ></option>
                                          <option value="Activa" selected> Activa </option>
                                        </select>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </form>

                    <div class="card-content">
                        <nav class="navbar navbar-info" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">

                                        <span class="navbar-brand">Detalle</span>
                                    </div>

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                              

                                          
                                            <li><a [routerLink]="['/conformidadservicio/comprador/formulario', 45]">Ver Requerimiento</a></li>
                                            <li><a [routerLink]="['/egp-ordencompra/comprador/ingresooc']">Ingresar OC</a></li>
                                            <li><a [routerLink]="[]">Imprimir</a></li>
                                            <li><a [routerLink]="[]">Cerrar Requerimiento</a></li>
                                            <li><a [routerLink]="[]">OGPP</a></li>
                                            <li><a [routerLink]="['/conformidadservicio/comprador/formulario', 45]">Salir</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        
                        <div class="table-responsive">
                            <table class="table-evaluacion-cotizaciones">
                                <tr class="card-content">
                                    <td colspan="3"><b>Fecha / Hora Entrega: 26/02/2018  14:00 hrs<br><br>
                                        Nro Req: REQ001</b></td>
                                    <td colspan="4" class="text-center"><b> Pintado de Edificio  <br>SAC 20502007018</b></td>
                                    <td colspan="4" class="text-center"><b>Pintado de Edificio2 SAC <br>20502007019</b></td>
                                    
                                </tr>

                                <tr class="evaluacion-cotizaciones-header" style="color:#fff;"> 
                                    <td colspan="3">Descripción del Item</td>
                                    <td>Cantidad</td>
                                    <td>Precio</td>
                                    <td>Precio Total</td>
                            
                                    <td>Fecha de Entrega</td>
                                     <td>Cantidad</td>
                                    <td>Precio</td>
                                    <td>Precio Total</td>
                                    
                                    <td>Fecha de Entrega</td>
                                    
                                </tr>
                             
                                <tr>
                                    <td colspan="3" class="evaluacion-cotizaciones-producto"> Servicio de Pintado Edificio Parte Externa  100m2<br>
                                        <b></b></td>
                                    <td class="text-right evaluacion-cotizaciones-proveedor">
                                        <table width="100%">
                                                <tr>
                                                        <td>
                                                            <div class="radio text-right">
                                                                <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">1.00 </td>
                                                    </tr>
                                        </table>
                                    </td>
                                    <td class="evaluacion-cotizaciones-proveedor text-right">35.000,00 </td>
                                    <td class="evaluacion-cotizaciones-proveedor text-right">35.000,00</td>
                                    <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                    <td class="text-right evaluacion-cotizaciones-proveedor">
                                            <table width="100%">
                                                    <tr>
                                                            <td>
                                                                <div class="radio text-right">
                                                                    <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">30.00 </td>
                                                        </tr>
                                            </table>
                                        </td>
                                        <td class="evaluacion-cotizaciones-proveedor text-right">32.000,00</td>
                                        <td class="evaluacion-cotizaciones-proveedor text-right" style="background-color:#f6f934;">32.000,00</td>
                                        <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                </tr>
                                <!---fin-->
                                <!---la segunda-->
                                <tr>
                                        <td colspan="12"></td>
    
                                    </tr>
                                    <tr>
                                            <td colspan="3" class="evaluacion-cotizaciones-producto">Servicio de Pintado Edificio Parte Interna  50m2<br>
                                                <b></b></td>
                                            <td class="text-right evaluacion-cotizaciones-proveedor">
                                                <table width="100%">
                                                        <tr>
                                                                <td>
                                                                    <div class="radio text-right">
                                                                        <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                                    </div>
                                                                </td>
                                                                <td class="text-right">1.00 </td>
                                                            </tr>
                                                </table>
                                            </td>
                                            <td class="evaluacion-cotizaciones-proveedor text-right">1500,00 </td>
                                            <td class="evaluacion-cotizaciones-proveedor text-right" style="background-color:#f6f934;">1500,00 </td>
                                            <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                            <td class="text-right evaluacion-cotizaciones-proveedor">
                                                    <table width="100%">
                                                            <tr>
                                                                    <td>
                                                                        <div class="radio text-right">
                                                                            <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right">40.00</td>
                                                                </tr>
                                                    </table>
                                                </td>
                                                <td class="evaluacion-cotizaciones-proveedor text-right">1800,00</td>
                                                <td class="evaluacion-cotizaciones-proveedor  text-right">1800,00</td>
                                                <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                        </tr>
                                 <!---fin-->
                                <!---la tercera
                                <tr>
                                        <td colspan="12"></td>
    
                                    </tr>
                                    <tr>
                                            <td colspan="3" class="evaluacion-cotizaciones-producto"> Servicio de Pintado Edificio Estacionamientos  50m2<br>
                                                <b></b></td>
                                            <td class="text-right evaluacion-cotizaciones-proveedor">
                                                <table width="100%">
                                                        <tr>
                                                                <td>
                                                                    <div class="radio text-right">
                                                                        <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                                    </div>
                                                                </td>
                                                                <td class="text-right">1.00 <br>Und.</td>
                                                            </tr>
                                                </table>
                                            </td>
                                            <td class="evaluacion-cotizaciones-proveedor text-right">7.5000,00 </td>
                                            <td class="evaluacion-cotizaciones-proveedor-resaltado text-right">7.5000,00</td>
                                            <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                            <td class="text-right evaluacion-cotizaciones-proveedor">
                                                    <table width="100%">
                                                            <tr>
                                                                    <td>
                                                                        <div class="radio text-right">
                                                                            <label class="text-right"><input  name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span></label>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right">30.00 <br>Und.</td>
                                                                </tr>
                                                    </table>
                                                </td>
                                                <td class="evaluacion-cotizaciones-proveedor text-right">120,00 </td>
                                                <td class="evaluacion-cotizaciones-proveedor-resaltado text-right">3.600,00</td>
                                                <td class="evaluacion-cotizaciones-proveedor text-right">26/11/2018</td>
                                        </tr>-->
                             
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>