<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <form method="#" action="#">
            <div class="card-header card-header-text" data-background-color="blue">
              <h4 class="card-title">Detalle de Solicitud de Cotizacion</h4>
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Número de Solicitud de Cotizacion
                      <span class="star">*</span>
                    </label>
                    <input name="nroreq" [(ngModel)]="item.nroreq" required type="text" class="form-control" [disabled]="toggleButton">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Prioridad <span class="star">*</span></label>
                    <input name="prioridad" [(ngModel)]="item.prioridad" required type="text" class="form-control" [disabled]="toggleButton">

                    <!--<select name="prioridad" [(ngModel)]="item.prioridad" required class="form-control" [disabled]="toggleButton">
                      <option disabled="" selected=""></option>
                      <option *ngFor="let optPrioridad of listPrioridadCombo" value="{{optPrioridad.valor}}"> {{optPrioridad.desc}} </option>             
                    </select>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Observación de la Solicitud de Cotización</label>
                    <textarea [(ngModel)]="item.observacion" name="observacion" class="form-control" rows="2" [disabled]="toggleButton"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                      <label class="control-label">Propietario</label><!--AÑADIR NG MODEL PARA PROPIETARIO -->
                      <input [(ngModel)]="item.propietario" name="propietario" class="form-control" [disabled]="toggleButton">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Estado</label>
                        <input name="estado" [(ngModel)]="item.estado" required type="text" class="form-control" [disabled]="toggleButton">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Fecha Inicio</label>
                    <input name="fechainicio" [(ngModel)]="item.fechainicio" required type="text" class="form-control" datepicker disabled>                  
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Cotizar antes de </label>
                    <input name="fechafin" [(ngModel)]="item.fechafin" required type="text" class="form-control" datepicker disabled>                  
                  </div>
                </div>
              </div>


  <!--*******************CONDICIONES GENERALES**********************-->

              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title">Condiciones Generales</h4>
                      <div class="toolbar">
                        <div class="row">
                          <div class="col-sm-12">
                            <!--
                            <nav class="navbar navbar-info" role="navigation">
                              <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#mdlArticulo">Agregar</a></li>
                                    <li><a href="javascript:void(0)">Eliminar</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>
                            -->
                          </div>
                        </div>
                      </div>
                      <div class="material-datatables table-responsive">
                        <table id="dtArticulos" class="table table-striped table-no-bordered table-hover text-center" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                            <tr>
                              <th class="disabled-sorting text-center">Nombre</th>
                              <th class="disabled-sorting text-center">Valor</th>
                              <th class="disabled-sorting text-center">Unidad</th>
                              <th class="disabled-sorting text-center">Modificable</th>
                              <th class="disabled-sorting text-center">Mandatorio</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                      <!-- end content-->
                    </div>
                    <!-- end content-->
                  </div>
                  <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
              </div>

  <!--*******************DETALLE DE ARTICULOS**********************-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title">Detalle de Artículos</h4>
                      <div class="toolbar">
                        <div class="row">
                          <div class="col-sm-12">
<!--
                            <nav class="navbar navbar-info" role="navigation">
                              <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                                  <ul class="nav navbar-nav">
                                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#mdlArticulo">Agregar</a></li>
                                    <li><a href="javascript:void(0)">Eliminar</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>
  -->
                          </div>
                        </div>
                      </div>
                      <div class="material-datatables table-responsive">
                        <table id="dtArticulos2" class="table table-striped table-no-bordered table-hover text-center" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                            <tr>
                              <th class="disabled-sorting text-center">Posicion</th>
                              <th class="disabled-sorting text-center">Código</th>
                              <th class="disabled-sorting text-center">Nombre</th>
                              <th class="disabled-sorting text-center">Descripción Producto</th>
                              <th class="disabled-sorting text-center">Nro Parte</th>
                              <th class="disabled-sorting text-center">Cantidad</th>
                              <th class="disabled-sorting text-center">Unidad</th>
                            </tr>
                          </thead>


                        </table>
                      </div>
                      <!-- end content-->
                    </div>
                  </div>
                  <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group label-floating">
                        <label class="control-label">Mensaje
                        </label>
                        <input name="mensaje" [(ngModel)]="item.mensaje" required type="text" class="form-control" [disabled]="toggleButton">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Notas
                        </label>
                        <textarea [(ngModel)]="item.notas" name="notas" class="form-control" rows="2" [disabled]="toggleButton"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Comentarios
                        </label>
                        <textarea [(ngModel)]="item.comentarios" name="comentarios" class="form-control" rows="2" [disabled]="toggleButton"></textarea>
                      </div>
                  </div>
              </div>


  <!--*******************PROVEEDORES**********************-->

              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title">Proveedores</h4>
                      <div class="toolbar">
                        <div class="row">
                          <div class="col-sm-12">
                            <!--
                            <nav class="navbar navbar-info" role="navigation">
                              <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li><a href="#mdlProveedor" data-toggle="modal" data-target="#mdlProveedor">Agregar</a></li>
                                    <li><a href="javascript:void(0)">Eliminar</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>
                            -->
                          </div>
                        </div>
                      </div>
                      <div class="material-datatables table-responsive">
                        <table id="dtProveedores" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                            <tr>
                              <th>Razón Social</th>
                              <th>Estado</th>
                              <!--<th>Usuario</th>-->
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
  <!--*******************PROVEEDOR INVITADO**********************-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title">Proveedor Invitado</h4>
                      <div class="toolbar">
                        <div class="row">
                          <div class="col-sm-12">
                            <!--
                            <nav class="navbar navbar-info" role="navigation">
                              <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li><a href="#mdlProveedorInvitado" data-toggle="modal" (click)="agregarProveedorInvitado($event)"
                                        data-target="#mdlProveedorInvitado">Agregar</a></li>
                                    <li><a href="javascript:void(0)">Eliminar</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>
                            -->
                          </div>
                        </div>
                      </div>
                      <div class="material-datatables table-responsive">
                        <table id="dtProveedoresInvitados" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                          style="width:100%">
                          <thead>
                            <tr>
                          
                              <th>Razón Social</th>
                              <th>RUC</th>
                              <th>E-mail</th>
                            </tr>
                          </thead>


                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-fill btn-default pull-right" (click)="grabar($event)" [disabled]="toggleButton">Grabar</button>
              <button (click)="toggleButton=false" class="btn btn-fill btn-default pull-right" *ngIf="id>0">Habilitar Edición</button>
              <a routerLink="/sm-requerimiento/comprador/buscar" class="btn btn-fill btn-default pull-right">Regresar</a>
              <a routerLink="/sm-cotizacion/comprador/buscar" class="btn btn-fill btn-default pull-right" (click)="listarRespuesta($event)">listar Respuesta</a>
              <!--<button class="btn btn-fill btn-default pull-right" (click)="print($event)" *ngIf="botonImprimir.visible" >{{botonImprimir.Titulo}}</button>-->
              <button class="btn btn-fill btn-default pull-right" (click)="print($event)" >Imprimir</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mdlProveedorInvitado" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Proveedor Invitado</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group label-floating">
              <label class="control-label">Razón Social <span class="star">*</span></label>
              <input name="razonsocial" required [(ngModel)]="item.razonsocial" type="text" class="form-control" [disabled]="toggleButton">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group label-floating">
              <label class="control-label">RUC <small>(Solo Perú*)</small></label>
              <input name="ruc" type="text" required class="form-control" [(ngModel)]="item.ruc" [disabled]="toggleButton">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group label-floating">
              <label class="control-label">E-mail <span class="star">*</span></label>
              <input name="email" email="true" required type="email" [(ngModel)]="item.email" class="form-control" [disabled]="toggleButton">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-default" (click)="grabarProveedorInvitado()" [disabled]="toggleButton">Grabar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="mdlAtributosLista" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Atributos por Producto</h4>
      </div>
      <div class="modal-body">

        <div class="material-datatables table-responsive">
          <table id="dtDetalleAtributosxProducto" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th class="disabled-sorting">Nombre</th>
                <th class="disabled-sorting text-center">Valor</th>
                <th class="disabled-sorting text-center">Unidad</th>
                <th class="disabled-sorting text-center">Modificable</th>
                <th class="disabled-sorting text-center">Obligatorio</th>
              </tr>
            </thead>
<!--
            <tbody>
              <tr *ngFor="let row of atributos">
                <td>{{row.nombre}}</td>
                <td>
                  <input name="valor" [(ngModel)]="row.valor" type="text" class="form-control" [disabled]="toggleButton">
                </td>
                <td class="text-center">{{row.unidad}}</td>
                <td class="text-center">{{row.modificable}}</td>
                <td class="text-center">{{row.obligatorio}}</td>
              </tr>
            </tbody>
-->
          </table>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <!--
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="grabarAtributos()" [disabled]="toggleButton">Grabar</button>
        -->

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div style="display:none">
    <div id="print-section-material" style='font-family: Arial, Helvetica, sans-serif;color: #000;font-size: 12px;'>
        <table width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style='font-family: Arial, Helvetica, sans-serif;color: #000;font-size: 12px;'>
          <tbody>
            <tr>
              <td align="center">
                <table width="900" cellpadding="0" cellspacing="0" border="0" bgcolor="#fff">
                  <tbody>
                    <tr>
                      <td colspan="2" bgcolor="#fff" align="center" valign="middle">
                        Imprimir Solicitud de Cotización N°{{item.nroreq}} <br> <br>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" bgcolor="#fff" align="center" valign="middle">
                        <b>IMPRESIÓN DE LA SOLICITUD DE COTIZACIÓN</b> <br><br>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table width="900" class="print-table" cellpadding="5" border='0' style="border:0px solid #999;border-collapse: collapse;"  cellspacing="0" bgcolor="#fff">
                  <tbody>
                    <tr style="border:1px solid #999;">
                      <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <!--<img *ngIf="this.item.idrfq && this.item.idrfq!=''" src="{{this.baseurl}}assets/img/logos/{{this.item.logoOrgCompradora}}.png" height="50" style="padding:0; margin:0; border:0">-->
                          {{item.logoOrgCompradora}}
                      </td>
                      <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                        Número de RFQ <br> {{item.nroreq}}
                      </td>
                    </tr>

                    <tr style="border:1px solid #999;">
                      <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border:1px solid #999;font-size: 20px">
                        <b style="font-size: 20px; color:#0067a3">Datos Generales:</b>
                      </td>
                    </tr>

                    <tr style="border:1px solid #999;">
                      <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                        <b>Propietario:</b>
                      </td>
                      <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          {{item.propietario}}
                      </td>
                      <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          <b>Estado:</b>
                      </td>
                      <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          {{item.estado}}
                      </td>
                    </tr>
                    <tr style="border:1px solid #999;">
                      <td colspan="6" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          <b>Prioridad:</b>
                      </td>
                      <td colspan="6" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          {{item.prioridad}}
                      </td>
                    </tr>
                    <tr style="border:1px solid #999;">
                      <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                        <b>Fecha Inicio:</b>
                      </td>
                      <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          {{item.fechainicio}}
                      </td>
                      <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                          <b>Cotizar antes de:</b>
                        </td>
                        <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                            {{item.fechafin}}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                            <b>Observación de la RFQ:</b>
                        </td>
                        <td colspan="10" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                            {{item.observacion}}
                        </td>
                    </tr>
                    <tr style="border:0px solid #999;">
                        <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border:0px solid #999;">
                          &nbsp;
                        </td>
                      </tr>
 <!---********DETALLE DE LAS TABLAS********-->
                    <tr style="border:1px solid #999;">
                        <td colspan="12" bgcolor="#fff" align="middle" valign="top" style="border:1px solid #999;font-size: 20px">
                          <b style="font-size: 20px; color:#0067a3" >Detalle</b> <br>
                        </td>
                    </tr>
                     <!---********CONDICIONES GENERALES********-->
                    <tr style="border:1px solid #999;">
                        <td colspan="12" bgcolor="#fff" align="middle" valign="top" style="border:1px solid #999;font-size: 20px">
                          <b style="font-size: 15px; color:#0067a3">Condiciones Generales</b>
                        </td>
                    </tr>
                    <tr style="border:1px solid #999;">
                      <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                        <b>Nombre</b>
                      </td>
                      <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <b>Valor</b>
                      </td>
                      <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <b>Unidad</b>
                      </td>
                      <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <b>Modificable</b>
                      </td>
                      <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <b>Mandatorio</b>
                      </td>
                    </tr>
                    
                    <tr *ngFor="let row of item.atributos" style="border:1px solid #999;">
                        <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            {{row.nombreatributo}}
                        </td>
                        <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            {{row.valor}}
                        </td>
                        <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            {{row.unidad}}
                        </td>
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            {{row.modificable}}
                        </td>
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            {{row.mandatorio}}
                        </td>
                    </tr>

                    <tr style="border:0px solid #999;">
                        <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border:0px solid #999;">
                          &nbsp;
                        </td>
                      </tr>

                    <!---********PRODUCTOS/ATRIBUTOS********-->
                    <tr style="border:1px solid #999;">
                        <td colspan="12" bgcolor="#fff" align="middle" valign="top" style="border:1px solid #999;font-size: 20px">
                          <b style="font-size: 15px; color:#0067a3">Detalle de Atributos</b>
                        </td>
                    </tr>
                    <tr style="border:1px solid #999;">
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                          <b>Posición</b>
                        </td>
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            <b>Código de <br>
                            Producto
                            </b>
                        </td>
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            <b>Nombre de <br>
                              Producto
                              </b>
                        </td>
                        <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            <b>Descripción de <br>
                                Producto
                              </b>
                        </td>
                      </tr>
                      <tr *ngFor="let row of prodAux" style="border:1px solid #999;">
                          <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.posicion}}
                          </td>
                          <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.codigoproducto}}
                          </td>
                          <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.nombreproducto}}
                          </td>
                          <td colspan="3" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.descripcionproducto}}
                          </td>
                      </tr>
                       <!---********MENSAJE/NOTAS/COMENTARIOS********-->
                      <tr style="border:1px solid #999;">
                          <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                              <b>Mensaje:</b>
                          </td>
                          <td colspan="10" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                                {{item.mensaje}}
                          </td>
                      </tr>
                      <tr style="border:1px solid #999;">
                          <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                              <b>Notas:</b>
                          </td>
                          <td colspan="10" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                                {{item.notas}}
                          </td>
                      </tr>
                      <tr style="border:1px solid #999;">
                          <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                              <b>Comentarios:</b>
                          </td>
                          <td colspan="10" bgcolor="#fff" align="left" valign="middle" style="border:1px solid #999;">
                                {{item.comentarios}}
                          </td>
                      </tr>
                      <tr style="border:0px solid #999;">
                          <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border:0px solid #999;">
                            &nbsp;
                          </td>
                        </tr>
                       <!---********PROVEEDOR********-->
                      <tr style="border:1px solid #999;">
                          <td colspan="12" bgcolor="#fff" align="middle" valign="top" style="border:1px solid #999;font-size: 20px">
                            <b style="font-size: 15px; color:#0067a3">Proveedores</b>
                          </td>
                      </tr>
                      <tr style="border:1px solid #999;">
                          <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            <b>Razón Social</b>
                          </td>
                          <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              <b>Estado</b>
                          </td>
                      </tr>
                      <tr *ngFor="let row of item.proveedorDirigido" style="border:1px solid #999;">
                          <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.razonsocial}}
                          </td>
                          <td colspan="6" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.estado}}
                          </td>
                      </tr>
                  
                       <!---********PROVEEDORES INVITADOS********-->
                      <tr style="border:1px solid #999;">
                          <td colspan="12" bgcolor="#fff" align="middle" valign="top" style="border:1px solid #999;font-size: 20px">
                            <b style="font-size: 15px; color:#0067a3">Proveedores Invitados</b>
                          </td>
                      </tr>
                      <tr style="border:1px solid #999;">
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                            <b>Razón Social</b>
                          </td>
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              <b>RUC</b>
                          </td>
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              <b>Email</b>
                          </td>
                      </tr>
                      <tr *ngFor="let row of item.proveedoresinvitados" style="border:1px solid #999;">
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.razonsocial}}
                          </td>
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.ruc}}
                          </td>
                          <td colspan="4" bgcolor="#fff" align="center" valign="middle" style="border:1px solid #999;">
                              {{row.email}}
                          </td>
                      </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>


