<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <form method="#" action="#">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">Detalle del Proveedor</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group label-floating">
                                        <label class="control-label">RUC
                                        </label>
                                        <input name="rucdni" [(ngModel)]="item.rucdni" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Razón Social
                                        </label>
                                        <input name="razonsocial" [(ngModel)]="item.razonsocial" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            

                            <nav class="navbar navbar-info" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">

                                        <span class="navbar-brand">Resultados</span>
                                    </div>

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="material-datatables table-responsive">
                                <table id="dtCalificaciones" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th width="15%">Nro OC</th>
                                            <th width="15%">TIPO OC/OS</th>
                                            <th width="20%">Usuario Comprador</th>
                                            <th width="30%">Entidad Compradora</th>
                                            <th width="20%">Calificación</th>
                                            <th class="disabled-sorting text-center">Acciones</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </form>
                  <div class="card-footer">
                    <button class="btn btn-fill btn-default pull-right" >Enviar</button>
                    <a class="btn btn-fill btn-default pull-right" [routerLink]="['/egp-calificacion/proveedor/buscar']">Salir</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>