<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">Parametros</h4>
          </div>
          <div class="card-content">
            <form method="#" action="#">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Parámetros</label>
                    <select id="comboparametro" class="form-control" data-style="select-with-transition" title="">
                      <option [ngValue]="">Seleccione una opción</option>
                      <option *ngFor="let parametro of parametros" [ngClass]="{'hidden':validarexistencia(parametro.Idreglaxparametro)}"  [value]="parametro.Idreglaxparametro">{{parametro.NombreParametro}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <button id="addRow" class="btn btn-default" (click)="agregar()">Agregar</button>
                  </div>
                </div>
              </div>
            </form>
            <nav class="navbar navbar-info" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <span class="navbar-brand">Resultados</span>
                </div>
              </div>
            </nav>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="table-responsive">
                <table class="table" height="100px">
                  <thead>
                    <tr>
                      <th class="text-center cursor-pointer">Nombre </th>
                      <th class="text-center cursor-pointer"> Valor</th>
                      <th class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parametrosregistrado of parametrosregistrados">
                      <td >{{parametrosregistrado.NombreParametro}}</td>
                      <td class="text-center">
                          <div class="form-group label-floating">
                              <label class="control-label">Valor
                              </label>
                              <input id="{{parametrosregistrado.Idorgxreglaxparametroxmodulo}}" type="number" step="0.1" class="form-control"  [disabled]="parametrosregistrado.Idorgxreglaxparametroxmodulo != idEditarParametro" value="{{ parametrosregistrado.ValorParametroxOrg}}">
                            </div>
                          </td>
                      <td class="td-actions text-center">
                        <button [ngClass]="{'hidden': parametrosregistrado.Idorgxreglaxparametroxmodulo == idEditarParametro}" rel="tooltip" type="button"
                          class="btn btn-default btn-round" (click)="editarParametro(parametrosregistrado.Idorgxreglaxparametroxmodulo)"
                          title="Editar">
                          <i class="material-icons">create</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button [ngClass]="{'hidden': !(parametrosregistrado.Idorgxreglaxparametroxmodulo == idEditarParametro)}" rel="tooltip" type="button"
                          class="btn btn-success btn-round" (click)="guardarEditarParametro(parametrosregistrado)" title="Guardar">
                          <i class="material-icons">save</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button [ngClass]="{'hidden': !(parametrosregistrado.Idorgxreglaxparametroxmodulo == idEditarParametro)}" rel="tooltip" type="button"
                          class="btn btn-warning btn-round" (click)="cancelarParametro()" title="Cancelar">
                          <i class="material-icons">remove</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button rel="tooltip" type="button" class="btn btn-danger btn-round" (click)="Eliminarparametro(parametrosregistrado)" title="Eliminar">
                          <i class="material-icons">clear</i>
                          <div class="ripple-container"></div>
                        </button>
                      </td>
                    </tr>
                    <tr [ngClass]="{'hidden':idNuevoParametro==''}">
                      <td text-center>
                        {{mostrarNombreParametroNuevo(idNuevoParametro)}}
                      </td>
                      <td >

                        <div class="form-group label-floating">
                          <label class="control-label">Valor
                          </label>
                          <input id="valor" type="number" step="0.1" class="form-control">
                        </div>
                      </td>
                      <td class="td-actions text-center">
                          <button rel="tooltip" type="button"
                            class="btn btn-success btn-round"  title="Guardar" (click)="guardarNuevoRegistro()">
                            <i class="material-icons">save</i>
                            <div class="ripple-container"></div>
                          </button>
                          <button  rel="tooltip" type="button"
                            class="btn btn-warning btn-round" title="Cancelar" (click)="cancelarParametro()">
                            <i class="material-icons">remove</i>
                            <div class="ripple-container"></div>
                          </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmacion - Inhabilitar Grupo Empresarial -->

<div id="confirmar-eliminacion" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Aviso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">¿Desea Eliminar Este Parametro: <b>{{parametroaeliminar.NombreParametro}}</b>?</div>
				</div>            
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-default" (click)="confirmacion()">Aceptar</button>
			</div>
		</div>
	</div>
</div>