<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <form method="#" action="#">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">Busqueda de Comprobantes de Pago de Detraccion</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Número de Detraccion desde
                                        </label>
                                        <input  name="nrodetracciondesde" type="text" class="form-control" pattern="^[0-9]+"  [(ngModel)]="filtro.nrodetracciondesde">
                                    </div>
                                </div>
                               
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Número de Detraccion hasta </label>
                                        <input  name="nrodetraccionhasta" type="text" class="form-control" pattern="^[0-9]+"  [(ngModel)]="filtro.nrodetraccionhasta">
                                    </div>
                                </div>
                              <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">RUC Comprador
                                        </label>
                                        <input  name="ruccompradora" type="text" class="form-control" pattern="^[0-9]+" [(ngModel)]="filtro.ruccompradora">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nro Factura
                                        </label>
                                        <input  name="nrofactura" type="text" class="form-control" pattern="^[0-9]+" [(ngModel)]="filtro.nrofactura">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                    <div class="col-sm-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Fecha Enviado Del</label>
                                                <input name="fechapagoinicio" type="text" class="form-control" datepicker [(ngModel)]="filtro.fechapagoinicio"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Fecha Enviado Del</label>
                                                    <input name="fechapagofin"type="text" class="form-control" datepicker [(ngModel)]="filtro.fechapagofin"/>
                                                </div>
                                            </div>
                                <div class="col-sm-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Estado</label>
                                            <select name="estado" class="form-control" [(ngModel)]="filtro.estado">
                                                <option value="NONE" selected>TODOS</option>
                                                <option *ngFor="let opt of listEstadoCombo" value="{{opt.valor}}"> {{opt.desc}} </option>   
                                            </select>
                                        </div>
                                    </div> 
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <button class="btn btn-default" (click)="clicked($event)">Buscar</button>
                                        <button class="btn btn-default" (click)="limpiar($event)">Limpiar</button>
                                    </div>
                                </div>
                            </div>

                            <nav class="navbar navbar-info" role="navigation">
                                    <div class="container-fluid">
                                        <div class="navbar-header">
    
                                            <span class="navbar-brand">Resultados</span>
                                        </div>
                                    </div>
                                </nav>
                                <div class="material-datatables table-responsive">
                                    <table id="dtResultados" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                    <th>Nro Comp. Detraccion</th> 
                                                    <th>Org. Compradora</th>
                                                    <th>RUC Comprador</th>
                                                    <th>Fecha de Pago</th>
                                                    <th>Moneda</th>
                                                    <th>Total</th>
                                                    <th>Estado</th>
                                                    <th class="disabled-sorting text-center">Acciones</th>
                                                    
                                            </tr>
                                        </thead>
    
    
                                    </table>
                                </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>