<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
            
          <form method="#" action="#">
            <div class="card-header card-header-text" data-background-color="blue">
                <h4 class="card-title">Ticket de Transporte</h4>
            </div>
            <div class="card-content">
              <div class="card-header">
                <h4 class="card-title">Datos Generales</h4>
              </div>
              <div class="card-content">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-10">
                          <div class="form-group label-floating">
                            <label class="control-label">N° Referencia</label>
                            <input type="text" name="documentoERP" [disabled]="toggleButton" [(ngModel)]="item.documentoERP" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Organización Compradora 
                        </label>
                        <input name="razonsocialcliente" type="text" [disabled]="toggleButton" [(ngModel)]="item.razonsocialcliente" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Organización Proveedora
                          </label>
                        <input name="razonsocialproveedor" type="text" [disabled]="toggleButton" [(ngModel)]="item.razonsocialproveedor" class="form-control">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group label-floating">
                        <label class="control-label">RUC Organización Compradora</label>
                        <input name="ruccliente" type="text" [disabled]="toggleButton" [(ngModel)]="item.ruccliente" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group label-floating">
                        <label class="control-label">RUC Organización Proveedora</label>
                        <input name="rucproveedor" [disabled]="toggleButton" type="text" [(ngModel)]="item.rucproveedor" class="form-control">
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Fecha de Aceptaci&oacute;n</label>
                      <input name="fechaaceptacion" [(ngModel)]="item.fechaaceptacion" datepicker disabled type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Moneda</label>
                      <select id="moneda" [(ngModel)]="item.moneda" name="moneda" class="form-control" [disabled]="toggleButton">
                        <option disabled="" selected=""></option>
                        <option *ngFor="let opt of listMonedaCombo" value="{{opt.valor}}"> {{opt.desc}} </option>   
                      </select>

                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                  <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                  <h4 class="card-title">Detalle de Tickets</h4>
              
                  <div class="table-responsive" style="display:block">
                    <table class="row-border table table-responsive table-hover" cellspacing="0" style="width:100%">
                      <thead>
                        <tr>
                          <th style="width: 90px"></th>
                          <th class="text-center cursor-pointer" (click)="ordenarResultados('numeroT')">Nro. Transporte
                            <span [ngClass]="{'hidden':ordenar != 'numeroT'}">
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
                            </span>
                          </th>
                          <th>Fecha de Inicio</th>
                          <th class="text-center cursor-pointer" (click)="ordenarResultados('placa')">Placa
                            <span [ngClass]="{'hidden':ordenar != 'placa'}">
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
                            </span>
                          </th>
                                  
                          <th>Conf. Veh&iacute;culo</th>
                          <th>Peso Total</th>
                          <th class="text-center cursor-pointer" (click)="ordenarResultados('costo')">Costo Provedor
                            <span [ngClass]="{'hidden':ordenar != 'costo'}">
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
                              <i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
                            </span>
                          </th>
                          <th>Costo Referencial</th>
              
                        </tr>
                      </thead>
                      <tbody>
                        <ng-template ngFor let-transporte [ngForOf]="transportes">
                          <tr>
                            <td class="details-control" (click)="AgregandoEntregas(transporte.idtransporte)"></td>
                            <td style="background-color: #acbad4">{{ transporte.numerotransporte }}</td>
                            <td style="background-color: #acbad4">{{ transporte.fechainicio }}</td>
                            <td style="background-color: #acbad4">{{ transporte.placa }}</td>
                            <td style="background-color: #acbad4">{{ transporte.confvehiculo }}</td>
                            <td style="background-color: #acbad4">{{ transporte.pesototal }}{{ transporte.unidadpesototal }}</td>
                            <td style="background-color: #acbad4">{{ transporte.costoproveedor }}</td>
                            <td style="background-color: #acbad4">{{ transporte.costoreferencial }}</td>
                          </tr>
                          <tr>
                            <td colspan="5">
                              <table *ngIf="transporte.mostrarEntregas" style="width:100%" class="table table-responsive">
                                <thead> 
                                  <tr>
                                    <th title="plus" style="padding: 1em .5em 1em 2.5em"></th>
                                    <th title="numeroentrega" style="font-weight:bold; padding: 1em">Nro. Entrega</th>
                                    <th title="numeroguia" style="font-weight:bold; padding: 1em">Nro. Gu&iacute;a</th>
                                    <th title="peso" style="font-weight:bold; padding: 1em">Peso</th>
                                  </tr>
                                </thead>
                                
                                <tbody>
                                  <ng-container *ngFor="let entrega of transporte.entregas" style="display:table-row">
                                    
                                    <tr>
                                      <td data-th="plus" style="padding: 1em .5em 1em 2.5em"></td>
                                      <td data-th="numeroentrega" style="padding: .5em">{{ entrega.numeroentrega }}</td>
                                      <td data-th="numeroguia" style="padding: .5em">{{ entrega.numeroguia }}</td>
                                      <td data-th="peso" style="padding: .5em">{{ entrega.peso }}{{ entrega.unidadpeso }}</td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<!-- 
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                <div class="form-group label-floating">
                  <label class="control-label">Mostrar</label>
                  <select class="form-control" data-style="select-with-transition" title="" [(ngModel)]="mostrar" (change)="cambiarResultadosMostrar()">
                    <option *ngFor="let mostrarResultado of mostrarResultados" [ngValue]="mostrarResultado">{{mostrarResultado}}</option>
                  </select>
                  <span class="material-input"></span>
                </div>
            </div>  
              <!-- Paginación -->
           <!--    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <ul class="pagination">
                  <li class="paginate_button first" [ngClass]="{invisible: paginaSeleccionada === 0}" (click)="selecionarPagina(0)">
                    <a class="page-link">&lt;&lt;
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="paginate_button previous" [ngClass]="{invisible: paginaSeleccionada === 0}" (click)="selecionarPagina(paginaSeleccionada - 1)">
                    <a class="page-link">&lt;
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <ng-container *ngFor="let pagina of paginas">
                    <li class="paginate_button page-item" [ngClass]="{active: paginaSeleccionada === pagina}" (click)="selecionarPagina(pagina)">
                      <a class="page-link">{{ pagina + 1 }}</a>
                    </li>
                  </ng-container>
                  <li class="paginate_button next" [ngClass]="{invisible: paginaSeleccionada === (paginas.length - 1)}" (click)="selecionarPagina(paginaSeleccionada + 1)">
                    <a class="page-link">&gt;
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="paginate_button last" [ngClass]="{invisible: paginaSeleccionada === (paginas.length - 1)}" (click)="selecionarPagina(paginas.length - 1)">
                    <a class="page-link">&gt;&gt;
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div> -->

              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="form-group label-floating">
                    <label class="control-label">SUB-TOTAL
                    </label>
                    <input name="subtotal" type="text" [(ngModel)]="item.subtotal" disabled class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="form-group label-floating">
                    <label class="control-label">IGV
                    </label>
                    <input name="impuesto" type="text" [(ngModel)]="item.impuesto" disabled class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="form-group label-floating">
                    <label class="control-label">TOTAL
                    </label>
                    <input name="Total" type="text" [(ngModel)]="item.total" disabled class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="form-group label-floating">
                    <label class="control-label">DETRACCI&Oacute;N
                    </label>
                    <input name="detraccion" type="text" [(ngModel)]="item.detraccion" disabled class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <a routerLink="/transporte/comprador/buscar" class="btn btn-fill btn-default pull-right">Regresar</a>
              <button class="btn btn-fill btn-default pull-right" (click)="print($event)">Imprimir</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="display: none">

    <div id="print-section-material" style='font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 12px;'>
     
      <table width="900" cellpadding="0" cellspacing="0" border="0" bgcolor="#fff">
          <tbody>
            <tr>
              <td colspan="2" bgcolor="#fff" align="center" valign="middle">
                Imprimir Ticket de Transporte Nº{{item.documentoERP}}<br/><br/>
              </td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#fff" align="center" valign="top" style="font-size: 20px">
                <b>IMPRESION DE TICKET DE TRANSPORTE</b><br><br>
              </td>
            </tr>

          </tbody>
        </table>
      <table width="900" class="print-table" align="right" cellpadding="5" style="border: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" bgcolor="#fff">
        <tbody>
          <tr style="border: 1px solid #999;">
            <td colspan="12" bgcolor="#fff" align="center" valign="top" style="border: 0px solid #999; font-size: 20px">
              <b style="font-size: 20px; color:#0067a3">Datos Generales:</b>
            </td>
            
            <table width="900" class="print-table" align="right" cellpadding="5" style="border: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" bgcolor="#fff">
              <tbody>
                
                <tr style="border: 1px solid #999;">
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b> Organizaci&oacute;n Compradora:</b>
                  </td>
  
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.razonsocialcliente}}
                  </td>
  
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b> Organizaci&oacute;n Proveedora:</b>
                  </td>
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.razonsocialproveedor}}
                  </td>
                </tr>

                <tr style="border: 1px solid #999;">
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b>RUC Organizaci&oacute;n Compradora:</b>
                  </td>
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.ruccliente}}
                  </td>
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b>RUC Organizaci&oacute;n Proveedora:</b>
                  </td>
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.rucproveedor}}
                  </td>
                </tr>
                    
                <tr style="border: 1px solid #999;">
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b>Fecha de aceptaci&oacute;n:</b>
                  </td>
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.fechaaceptacion}}
                  </td>
                  
                  <td colspan="2" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    <b>Moneda:</b> 
                  </td>
                  <td colspan="4" bgcolor="#fff" align="left" valign="middle" style="border: 1px solid #999;">
                    {{item.moneda}}
                  </td>
                </tr>
                <tr style="border: 0">
                  <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border: 0px solid #999;">
                    &nbsp;
                  </td>
                </tr>
  
              </tbody>
            </table>


            <table width="900" class="print-table" align="right" cellpadding="5" style="border-collapse: collapse; border: 1px solid #999" cellspacing="4" bgcolor="#fff">
              <thead>
                <tr>
                  <!-- <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold"></th> -->
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Nro. Transporte</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Fecha de Inicio</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Placa</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Conf. Veh&iacute;culo</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Peso Total</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Costo Provedor</th>
                  <th width="20%" height="20" align="center" bgcolor="#fff" style="border: 1px solid #999; padding: 5px; font-weight:bold">Costo Referencial</th>
      
                </tr> 
              </thead>
              <tbody>
                <ng-template ngFor let-transporte [ngForOf]="transportes">
                  <tr>
                    <!-- <td class="details-control" width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px"></td> -->
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.numerotransporte }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.fechainicio }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.placa }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.confvehiculo }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.pesototal }}{{ transporte.unidadpesototal }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.costoproveedor }}</td>
                    <td width="20%" height="20" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #999; padding: 5px">{{ transporte.costoreferencial }}</td>
                  </tr>
                  <tr>
                    <td colspan="12">
                      <table width= "885" class="print-table" align="right" cellpadding="5" cellspacing="4" bgcolor="#fff">
                        <thead> 
                          <tr>
                            <!-- <th title="plus" width="20%" height="20" align="center" bgcolor="#fff" style="padding: 5px"></th> -->
                            <th title="numeroentrega" width="267" height="20" align="center" valign="middle" bgcolor="#fff" style=" border-top: 0; border-right: 1px solid #999; border-bottom: 0; border-left: 0">Nro. Entrega</th>
                            <th title="numeroguia" width="308" height="20" align="center" valign="middle" bgcolor="#fff" style=" border: 0">Nro. Gu&iacute;a</th>
                            <th title="peso"  width="295" height="20" align="center" valign="middle" bgcolor="#fff" style=" border-top: 0; border-right: 0; border-bottom: 0; border-left: 1px solid #999">Peso</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <ng-container *ngFor="let entrega of transporte.entregas">
                            <tr>
                              <!-- <td data-th="plus" width="40%" height="20" align="center" valign="middle" bgcolor="#fff" style="border-left:0; border-bottom:1px solid #999; border-right:1px solid #999; border-top:0; padding: 5px"></td> -->
                              <td width="267" data-th="numeroentrega"   height="20" align="center" valign="middle" bgcolor="#fff" style=" border-top: 1px solid #999; border-right: 1px solid #999; border-bottom: 0; border-left: 0">{{ entrega.numeroentrega }}</td>
                              <td width="308" data-th="numeroguia"   height="20" align="center" valign="middle" bgcolor="#fff" style=" border-top: 1px solid #999; border-right: 0; border-bottom: 0; border-left: 0">{{ entrega.numeroguia }}</td>
                              <td width="295" data-th="peso"  height="20" align="center" valign="middle" bgcolor="#fff" style=" border-top: 1px solid #999; border-right: 0; border-bottom: 0; border-left: 1px solid #999">{{ entrega.peso }}{{ entrega.unidadpeso }}</td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </tr>
          
          <tr style="border: 0">
            <td colspan="12" bgcolor="#fff" align="right" valign="top" style="border: 0;">
              &nbsp;
            </td>
          </tr>
      
        </tbody>
      </table>

      <table width="500" class="print-table" align="right" cellpadding="5" style="border: 0; border-collapse: collapse;" cellspacing="4" bgcolor="#fff">
        <tbody>
          <tr style="border: 0">
            <td colspan="12" bgcolor="#fff" align="left" valign="top" style="border: 0">&nbsp;</td>
          </tr>
          <tr style="border: 1px solid #999;">
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;"><b> Sub-Total:</b></td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;">{{item.moneda}}</td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;">{{item.subtotal}}</td>
          </tr>

          <tr style="border: 0">
            <!-- <td colspan="7" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;">&nbsp;</td> -->
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999"><b> IGV:</b></td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.moneda}}</td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.impuesto}}</td>
          </tr>

          <tr style="border: 0">
            <!-- <td colspan="7" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;">&nbsp;</td> -->
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999"><b> Total:</b></td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.moneda}}</td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.total}}</td>
          </tr>

          <tr style="border: 0">
            <!-- <td colspan="7" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999;">&nbsp;</td> -->
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999"><b> Detracci&oacute;n:</b></td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.moneda}}</td>
            <td colspan="2" bgcolor="#fff" align="center" valign="middle" style="border: 1px solid #999">{{item.detraccion}}</td>
          </tr>
        </tbody>
      </table>
      <br> 
    </div>
 
  </div>